// Importera Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// Dina egna anpassade stilar
.body {
  background-color: #0f79e4;
}
.navbar {
  background-color: #65b849; // Mörk bakgrundsfärg
  .navbar-brand {
    color: #aa098a; // Vit färg för brand-texten
    &:hover {
      color: #0979e8; // Ljusgrå färg vid hover
    }
  }

  .navbar-nav .nav-link {
    color: #077bef; // Vit färg för nav-links
    &:hover {
      color: #adb5bd; // Ljusgrå färg vid hover
    }
  }

  .navbar-toggler {
    border-color: #f8f9fa; // Vit färg på toggle-knappen
    .navbar-toggler-icon {
      background-image: url("path/to/your/icon.svg"); // Egen ikon för toggling
    }
  }
}
